/* Define a largura máxima do contêiner do perfil */
.perfil-container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

/* Estiliza a imagem do avatar */
.perfil-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #3D43CB;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

/* Estiliza o título do perfil */
.perfil-titulo {
  font-family: Roboto;
  font-size: 1.5em;
  color: #3D43CB;
  margin: 0;
  font-weight: bold;
}